html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
}

*:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #d0f1ce;
    margin: 0;
    display: grid;
    grid-template-rows: 73px auto 60px;
    grid-template-columns: 100%;
    row-gap: 5px;
    height: 100vh;
    grid-template-areas: "header" "contenido" "footer";
}

header {
    background-color: #77a774;
    position: sticky !important;
    top: 0;
    z-index: 1;
    padding: 12px 25px;
    grid-area: header;
    display: flex;
    align-items: center;
}

header~*:not(footer) {
    margin: 0 40px;
}

#logo, #logo:visited {
    cursor: pointer;
    font-family: 'kg_happy', serif;
    text-decoration: none;
    font-size: 26px;
    color: black;
}

.contenido {
    grid-area: contenido;
    margin: 2rem 3rem;
}

section>h1 {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 3rem;
}

h1, li {
    font-family: caviar-dreams, serif;
}

.ayuda {
    font-size: x-large;
    font-family: caviar-dreams;
    text-align: center;
}

footer {
    background-color: #699167;
    color: white;
    font-family: caviar-dreams;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

footer a {
    padding: 0 4px;
    color: #fcfde9;
}