<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/utilities.css">
    <link rel="stylesheet" href="../css/tree.css">
    <title>AgroWorld 2.0</title>
</head>

<body>
    <header>
        <a id="logo" class="no-select" href="#home">
            AgroWorld
        </a>
        <img id="header-pic" src="../images/Logo del Ministerio de Agricultura.png" alt="Ministerio de Agricultura">
    </header>
    <div class="contenido">
        <div class="ayuda">
            <p>
                Despliegue el árbol para obtener información acerca de productos fitosanitarios y el mundo agrícola.
            </p>
            <hr>
        </div>
        <section>
            <h1>Árbol de elementos</h1>
            <div id="arbol-seccion">
                <ul class="arbol"> </ul>
            </div>
        </section>
    </div>
    <footer>
        <p><a href="https://github.com/MarcosVillacanas/fitosanitarios" target="_blank">Proyecto</a> desarrollado para
            la
            asignatura de
            Sistemas Distribuidos de la Universidad Rey Juan Carlos por <a href="https://github.com/arialdev"
                target="_blank">Álvaro
                Rivas</a> y <a href="https://github.com/MarcosVillacanas/" target="_blank">Marcos Villacañas</a></p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../plugins/enhanced-hover-activated-tooltips/easyTooltip.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>