<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/fonts.css">
    <link rel="stylesheet" href="../css/utilities.css">
    <link rel="stylesheet" href="../css/tree.css">
    <title>AgroWorld 2.0</title>
</head>

<body>
    <header>
        <a id="logo" class="no-select" href="#home">
            AgroWorld
        </a>
    </header>
    <section>
        <h1>Árbol de elementos</h1>
        <!-- <hr> -->
        <div id="arbol-seccion">
            <ul class="arbol"> </ul>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="../js/script.js"></script>
</body>

</html>